.component-button {
    width: 25%;
    height: 100px;
    color: #000;
    font-weight: 400;
    font-size: 50px;
    background-color: #e0e0e0;
    border: 1px solid #adadb3;
}
.component-button:focus{
    border: 2px solid #000;
}
.operator{
    background-color: #f5923d;
    color: #fff;
}
.wide{
    width: 50%;
}